$font = 'Segoe UI' 
$fontBody = 'Times New Roman' 
$body = #222222 
$dark-grey = #666666 
$dark-grey-2 = #C4C4C4 
$grey-2 = #DDDDDD 
$light-grey = #F2F2F2 
$white = #FFFFFF 
$accent_active = #FFCC66 
$picked = #FFDD99 
$on_hover = #FFEECC 
$sucess = #6CD858 
$error = #FF533D 
$normalIcons = arrow-down arrow-right bookmark delete doc-icon download external-link eye-closed eye-opened hide-notification history more-horizontal notification pdf-icon qa search search-small seen settings 
$hoverIcons = bookmark delete download eye-closed eye-opened more-horizontal notification qa search settings 
$activeIcons = bookmark delete more-horizontal notification qa search 
$marketIcons = boots building calendar clothes lux profile 

.body-regular
    font-family: $fontBody 
    font-weight: 200
    font-size: 16px 
    line-height: 24px
    @media (max-width: 1366px)
        font-size: 12px 
        line-height: 24px
    @media (min-width: 1920px)
        font-size: 18px 
        line-height: 26px 
.Page
    font-family $font
    font-size 20px
    line-height 20px
    @media (max-width: 1366px) 
        font-size 14px
        line-height 14px 
    @media (min-width: 1366px) and (max-width: 1920px) 
        font-size 18px
        line-height 18px 
    &_title
        font-weight 700
    &_subtitle
        font-weight 400
.Page-title 
    font-family: $font 
    font-weight: 700 
    font-size: 20px 
    line-height: 20px 
    text-transform: uppercase 
.Page-subtitle
    font-family: $font 
    font-weight: 400 
    font-size: 20px 
    line-height: 20px 
    text-transform: uppercase 
h1
    font-family: $font 
    font-weight: 700 
    letter-spacing: -0.02em 
    line-height: 44px 
    font-size: 36px 
    @media (max-width: 1366px) 
        font-size: 28px 
    @media (min-width: 1366px) and (max-width: 1920px) 
        font-size: 32px 
    @media (max-width: 1366px) 
        line-height: 44px 
    @media (min-width: 1366px) and (max-width: 1920px) 
        line-height: 40px 
.button 
    color:inherit
    padding-left: 16px 
    padding-right: 16px 
    padding-top: 8px 
    padding-bottom: 8px 
    border: none 
    align-items: center 
    text-align: center
    text-decoration: none 
    &:disabled 
        background-color: $picked 
    &:hover 
        background-color: $on_hover 
        @media (max-width: 1366px) 
            border: 2px solid $on_hover 
        @media (min-width: 1366px) and (max-width: 1920px) 
            border: 2px solid $on_hover 
        @media (min-width: 1920px) 
            border: 2.8px solid $on_hover 
    &_alt
        background-color: $white 
        @media (max-width: 1366px) 
            border: 2px solid $accent_active 
        @media (min-width: 1366px) and (max-width: 1920px) 
            border: 2px solid $accent_active 
        @media (min-width: 1920px) 
            border: 2.8px solid $accent_active 
        &:disabled 
            background-color: $white !important 
            @media (max-width: 1366px) 
                border: 2px solid $accent_active !important 
            @media (min-width: 1366px) and (max-width: 1920px) 
                border: 2px solid $accent_active !important 
        &:hover
            @media (max-width: 1366px) 
                border: 2px solid $accent_active !important 
            @media (min-width: 1366px) and (max-width: 1920px) 
                border: 2px solid $accent_active !important 
    &_accent 
        background-color: $accent_active 
        @media (max-width: 1366px) 
            border: 2px solid $accent_active 
        @media (min-width: 1366px) and (max-width: 1920px) 
            border: 2px solid $accent_active 
        @media (min-width: 1920px) 
            border: 2.8px solid $accent_active 
        &:disabled 
            background-color: $picked 
            @media (max-width: 1366px) 
                border: 2px solid $picked 
            @media (min-width: 1366px) and (max-width: 1920px) 
                border: 2px solid $picked 
            @media (min-width: 1920px) 
                border: 2.8px solid $picked 
    &_secondary 
        background-color: $grey-2 
        @media (max-width: 1366px) 
            border: 2px solid $grey-2 
        @media (min-width: 1366px) and (max-width: 1920px) 
            border: 2px solid $grey-2 
        @media (min-width: 1920px) 
            border: 2.8px solid $grey-2 
        &:disabled 
            background-color: $dark-grey-2 !important 
            @media (max-width: 1366px) 
                border: 2px solid $dark-grey-2 !important 
            @media (min-width: 1366px) and (max-width: 1920px)
                border: 2px solid $dark-grey-2 !important 
            @media (min-width: 1920px) 
                border: 2.8px solid $dark-grey-2 !important 
        &:hover 
            @media (max-width: 1366px) 
                border: 2px solid $light-grey 
            @media (min-width: 1366px) and (max-width: 1920px) 
                border: 2px solid $light-grey 
            @media (min-width: 1920px)
                border: 2.8px solid $light-grey 
            background-color: $light-grey 
    &_ghost 
        background-color: transparent !important 
        @media (max-width: 1366px) 
            border: 2px solid transparent !important 
        @media (min-width: 1366px) and (max-width: 1920px) 
            border: 2px solid transparent !important 
        @media (min-width: 1920px) 
            border: 2.8px solid transparent !important 

    &_icon 
        position: relative 
        &:after 
            content: '' 
            display: inline-block 
            width: 20px 
        &:before 
            content: '' 
            position: absolute 
            top: 50% 
            right: 17px 
            transform: translateY(-50%) 
            display: block 
            background-size: contain 

@media (max-width: 1366px) 
    h2 
        font-family: $font 
        font-size: 16px 
        line-height: 24px 
        font-weight: 500 
    button 
        font-family: $font 
        font-size: 10px 
        line-height: 12px 
        font-weight: 200 
    .caption-L-medium 
        font-family: $font 
        font-size: 12px 
        line-height: 16px 
        letter-spacing: -0.02em 
        font-weight: 400 
    .caption-L-regular 
        font-family: $font 
        font-size: 12px 
        line-height: 16px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .caption-L-light 
        font-family: $font 
        font-size: 12px 
        line-height: 16px 
        letter-spacing: -0.02em 
        font-weight: 100 
    .caption-M-medium 
        font-family: $font 
        font-size: 10px 
        line-height: 14px 
        letter-spacing: -0.02em 
        font-weight: 400 
    .caption-M-regular 
        font-family: $font 
        font-size: 10px 
        line-height: 14px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .caption-M-light 
        font-family: $font 
        font-size: 10px 
        line-height: 14px 
        letter-spacing: -0.02em 
        font-weight: 100 
    .caption-S-regular 
        font-family: $font 
        font-size: 8px 
        line-height: 10px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .body-semibold 
        font-family: $fontBody 
        font-weight: 700 
        font-size: 12px 
        line-height: 24px 
        p+p 
            padding-top: 8px 
    
@media (min-width: 1366px) and (max-width: 1920px) 
    h2 
        font-family: $font 
        font-weight: 500 
        font-size: 24px 
        line-height: 32px 
        letter-spacing: -0.02em 
    button 
        font-family: $font 
        font-size: 14px 
        line-height: 14px 
        font-weight: 200 
    .caption-L-medium 
        font-family: $font 
        font-size: 16px 
        line-height: 20px 
        letter-spacing: -0.02em 
        font-weight: 400 
    .caption-L-regular 
        font-family: $font 
        font-size: 16px 
        line-height: 20px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .caption-L-light 
        font-family: $font 
        font-size: 16px 
        line-height: 20px 
        letter-spacing: -0.02em 
        font-weight: 100 
    .caption-M-medium 
        font-family: $font 
        font-size: 14px 
        line-height: 18px 
        letter-spacing: -0.02em 
        font-weight: 400 
    .caption-M-regular 
        font-family: $font 
        font-size: 14px 
        line-height: 18px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .caption-M-light 
        font-family: $font 
        font-size: 14px 
        line-height: 18px 
        letter-spacing: -0.02em 
        font-weight: 100 
    .caption-S-regular 
        font-family: $font 
        font-size: 12px 
        line-height: 14px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .body-semibold 
        font-family: $fontBody 
        font-weight: 600 
        font-size: 16px 
        line-height: 24px 
        p+p 
            padding-top: 8px 

@media (min-width: 1920px) 
    h2 
        font-family: $font 
        font-weight: 500 
        font-size: 32px 
        line-height: 40px 
        letter-spacing: -0.02em 
    button 
        font-family: $font 
        font-size: 18px 
        line-height: 20px 
        font-weight: 200 
    .caption-L-medium 
        font-family: $font 
        font-size: 18px 
        line-height: 24px 
        letter-spacing: -0.02em 
        font-weight: 400 
    .caption-L-regular 
        font-family: $font 
        font-size: 18px 
        line-height: 24px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .caption-L-light 
        font-family: $font 
        font-size: 18px 
        line-height: 24px 
        letter-spacing: -0.02em 
        font-weight: 100 
    .caption-M-medium 
        font-family: $font 
        font-size: 16px 
        line-height: 20px 
        letter-spacing: -0.02em 
        font-weight: 400 
    .caption-M-regular 
        font-family: $font 
        font-size: 16px 
        line-height: 20px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .caption-M-light 
        font-family: $font 
        font-size: 16px 
        line-height: 20px 
        letter-spacing: -0.02em 
        font-weight: 100 
    .caption-S-regular 
        font-family: $font 
        font-size: 14px 
        line-height: 16px 
        letter-spacing: -0.02em 
        font-weight: 200 
    .body-semibold 
        font-family: $fontBody 
        font-weight: 600 
        font-size: 18px 
        line-height: 26px 
        p+p 
            padding-top: 8px 

.link 
    letter-spacing: -0.02em 
    font-size: 14px 
    line-height: 18px 
    font-family: $font 
    color: black
    text-decoration: none
    &:hover 
        text-decoration: underline 
    &_big 
        font-size: 24px 
        line-height: 32px 
.service-icon:before
    content: '' 
    width: 14px 
    height: 14px 
    background-size: contain 
for $icon in $normalIcons 
    .service-icon_{$icon} 
        &:before
            background-image: url('../../img/icon/service/'+$icon+'/normal.svg') 
for $icon in $hoverIcons 
    .service-icon_{$icon} 
        &:hover:before 
            background-image: url('../../img/icon/service/'+$icon+'/hover.svg') 
for $icon in $activeIcons 
    .service-icon_{$icon} 
        &:active:before 
            background-image: url('../../img/icon/service/'+$icon+'/active.svg') 
.market-icon 
    display: inline-block 
    width: 48px 
    height: 48px 
    background-size: contain 
    background-position: 50% 50% 
    &_disabled
        filter: grayscale(100%) 
    for $icon in $marketIcons
        &_{$icon}
            background-image: url('../../img/icon/market/'+$icon+'.svg') 