.Page {
  font-family: 'Segoe UI';
  font-size: 20px;
  line-height: 20px;
}
.Page_title {
  font-weight: 700;
}
.Page_subtitle {
  font-weight: 400;
}
.Page-title {
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.Page-subtitle {
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
h1 {
  font-family: 'Segoe UI';
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 44px;
  line-height: 102%;
  font-size: 36px;
}
@media (max-width: 1366px) {
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 1366px) {
  h1 {
    line-height: 44px;
    line-height: 102%;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  h1 {
    line-height: 40px;
    line-height: 104%;
  }
}
.button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.button:disabled {
  background-color: #fd9;
}
.button:hover {
  background-color: #fec;
}
@media (max-width: 1366px) {
  .button:hover {
    border: 1.5px solid #fec;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button:hover {
    border: 2px solid #fec;
  }
}
@media (min-width: 1920px) {
  .button:hover {
    border: 2.8px solid #fec;
  }
}
.button_alt {
  background-color: #fff;
}
@media (max-width: 1366px) {
  .button_alt {
    border: 1.5px solid #fc6;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_alt {
    border: 2px solid #fc6;
  }
}
@media (min-width: 1920px) {
  .button_alt {
    border: 2.8px solid #fc6;
  }
}
.button_alt:disabled {
  background-color: #fff !important;
}
@media (max-width: 1366px) {
  .button_alt:disabled {
    border: 1.5px solid #fc6 !important;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_alt:disabled {
    border: 2px solid #fc6 !important;
  }
}
@media (max-width: 1366px) {
  .button_alt:hover {
    border: 1.5px solid #fc6 !important;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_alt:hover {
    border: 2px solid #fc6 !important;
  }
}
.button_accent {
  background-color: #fc6;
}
@media (max-width: 1366px) {
  .button_accent {
    border: 1.5px solid #fc6;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_accent {
    border: 2px solid #fc6;
  }
}
@media (min-width: 1920px) {
  .button_accent {
    border: 2.8px solid #fc6;
  }
}
.button_accent:disabled {
  background-color: #fd9;
}
@media (max-width: 1366px) {
  .button_accent:disabled {
    border: 1.5px solid #fd9;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_accent:disabled {
    border: 2px solid #fd9;
  }
}
@media (min-width: 1920px) {
  .button_accent:disabled {
    border: 2.8px solid #fd9;
  }
}
.button_secondary {
  background-color: #ddd;
}
@media (max-width: 1366px) {
  .button_secondary {
    border: 1.5px solid #ddd;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_secondary {
    border: 2px solid #ddd;
  }
}
@media (min-width: 1920px) {
  .button_secondary {
    border: 2.8px solid #ddd;
  }
}
.button_secondary:disabled {
  background-color: #c4c4c4 !important;
}
@media (max-width: 1366px) {
  .button_secondary:disabled {
    border: 1.5px solid #c4c4c4 !important;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_secondary:disabled {
    border: 2px solid #c4c4c4 !important;
  }
}
@media (min-width: 1920px) {
  .button_secondary:disabled {
    border: 2.8px solid #c4c4c4 !important;
  }
}
.button_secondary:hover {
  background-color: #f2f2f2;
}
@media (max-width: 1366px) {
  .button_secondary:hover {
    border: 1.5px solid #f2f2f2;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_secondary:hover {
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1920px) {
  .button_secondary:hover {
    border: 2.8px solid #f2f2f2;
  }
}
.button_ghost {
  background-color: transparent !important;
}
@media (max-width: 1366px) {
  .button_ghost {
    border: 1.5px solid transparent !important;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .button_ghost {
    border: 2px solid transparent !important;
  }
}
@media (min-width: 1920px) {
  .button_ghost {
    border: 2.8px solid transparent !important;
  }
}
.button_icon {
  position: relative;
}
.button_icon:after {
  content: '';
  display: inline-block;
  width: 20px;
}
.button_icon:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background-size: contain;
}
@media (max-width: 1366px) {
  h2 {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  button {
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 12px;
    line-height: 83%;
    font-weight: 200;
  }
  .caption-L-medium {
    font-family: 'Segoe UI';
    font-size: 12px;
    line-height: 16px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
  .caption-L-regular {
    font-family: 'Segoe UI';
    font-size: 12px;
    line-height: 16px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .caption-L-light {
    font-family: 'Segoe UI';
    font-size: 12px;
    line-height: 16px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 100;
  }
  .caption-M-medium {
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 14px;
    line-height: 107%;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
  .caption-M-regular {
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 14px;
    line-height: 107%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .caption-M-light {
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 14px;
    line-height: 107%;
    letter-spacing: -0.02em;
    font-weight: 100;
  }
  .caption-S-regular {
    font-family: 'Segoe UI';
    font-size: 8px;
    line-height: 10px;
    line-height: 97%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .body-semibold {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    line-height: 105%;
  }
  .body-semibold p+p {
    padding-top: 8px;
  }
  .body-regular {
    font-family: 'Times New Roman';
    font-weight: 200;
    font-size: 12px;
    line-height: 24px;
    line-height: 105%;
  }
  .body-regular p+p {
    padding-top: 8px;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  h2 {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    line-height: 111%;
    letter-spacing: -0.02em;
  }
  button {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 14px;
    line-height: 83%;
    font-weight: 200;
  }
  .caption-L-medium {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
  .caption-L-regular {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .caption-L-light {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 100;
  }
  .caption-M-medium {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 18px;
    line-height: 107%;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
  .caption-M-regular {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 18px;
    line-height: 107%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .caption-M-light {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 18px;
    line-height: 107%;
    letter-spacing: -0.02em;
    font-weight: 100;
  }
  .caption-S-regular {
    font-family: 'Segoe UI';
    font-size: 12px;
    line-height: 14px;
    line-height: 97%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .body-semibold {
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    line-height: 105%;
  }
  .body-semibold p+p {
    padding-top: 8px;
  }
  .body-regular {
    font-family: 'Times New Roman';
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    line-height: 105%;
  }
  .body-regular p+p {
    padding-top: 8px;
  }
}
@media (min-width: 1920px) {
  h2 {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    line-height: 104%;
    letter-spacing: -0.02em;
  }
  button {
    font-family: 'Segoe UI';
    font-size: 18px;
    line-height: 20px;
    line-height: 93%;
    font-weight: 200;
  }
  .caption-L-medium {
    font-family: 'Segoe UI';
    font-size: 18px;
    line-height: 24px;
    line-height: 111%;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
  .caption-L-regular {
    font-family: 'Segoe UI';
    font-size: 18px;
    line-height: 24px;
    line-height: 111%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .caption-L-light {
    font-family: 'Segoe UI';
    font-size: 18px;
    line-height: 24px;
    line-height: 111%;
    letter-spacing: -0.02em;
    font-weight: 100;
  }
  .caption-M-medium {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
  .caption-M-regular {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .caption-M-light {
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    font-weight: 100;
  }
  .caption-S-regular {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 16px;
    line-height: 95%;
    letter-spacing: -0.02em;
    font-weight: 200;
  }
  .body-semibold {
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    line-height: 101%;
  }
  .body-semibold p+p {
    padding-top: 8px;
  }
  .body-regular {
    font-family: 'Times New Roman';
    font-weight: 200;
    font-size: 18px;
    line-height: 26px;
    line-height: 101%;
  }
  .body-regular p+p {
    padding-top: 8px;
  }
}
.link {
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Segoe UI';
}
.link:hover {
  text-decoration: underline;
}
.link_big {
  font-size: 24px;
  line-height: 32px;
}
.service-icon:before {
  content: '';
  width: 14px;
  height: 14px;
  background-size: contain;
}
.service-icon_arrow-down:before {
  background-image: url("../../img/icon/service/arrow-down/normal.svg");
}
.service-icon_arrow-right:before {
  background-image: url("../../img/icon/service/arrow-right/normal.svg");
}
.service-icon_bookmark:before {
  background-image: url("../../img/icon/service/bookmark/normal.svg");
}
.service-icon_delete:before {
  background-image: url("../../img/icon/service/delete/normal.svg");
}
.service-icon_doc-icon:before {
  background-image: url("../../img/icon/service/doc-icon/normal.svg");
}
.service-icon_download:before {
  background-image: url("../../img/icon/service/download/normal.svg");
}
.service-icon_external-link:before {
  background-image: url("../../img/icon/service/external-link/normal.svg");
}
.service-icon_eye-closed:before {
  background-image: url("../../img/icon/service/eye-closed/normal.svg");
}
.service-icon_eye-opened:before {
  background-image: url("../../img/icon/service/eye-opened/normal.svg");
}
.service-icon_hide-notification:before {
  background-image: url("../../img/icon/service/hide-notification/normal.svg");
}
.service-icon_history:before {
  background-image: url("../../img/icon/service/history/normal.svg");
}
.service-icon_more-horizontal:before {
  background-image: url("../../img/icon/service/more-horizontal/normal.svg");
}
.service-icon_notification:before {
  background-image: url("../../img/icon/service/notification/normal.svg");
}
.service-icon_pdf-icon:before {
  background-image: url("../../img/icon/service/pdf-icon/normal.svg");
}
.service-icon_qa:before {
  background-image: url("../../img/icon/service/qa/normal.svg");
}
.service-icon_search:before {
  background-image: url("../../img/icon/service/search/normal.svg");
}
.service-icon_search-small:before {
  background-image: url("../../img/icon/service/search-small/normal.svg");
}
.service-icon_seen:before {
  background-image: url("../../img/icon/service/seen/normal.svg");
}
.service-icon_settings:before {
  background-image: url("../../img/icon/service/settings/normal.svg");
}
.service-icon_bookmark:hover:before {
  background-image: url("../../img/icon/service/bookmark/hover.svg");
}
.service-icon_delete:hover:before {
  background-image: url("../../img/icon/service/delete/hover.svg");
}
.service-icon_download:hover:before {
  background-image: url("../../img/icon/service/download/hover.svg");
}
.service-icon_eye-closed:hover:before {
  background-image: url("../../img/icon/service/eye-closed/hover.svg");
}
.service-icon_eye-opened:hover:before {
  background-image: url("../../img/icon/service/eye-opened/hover.svg");
}
.service-icon_more-horizontal:hover:before {
  background-image: url("../../img/icon/service/more-horizontal/hover.svg");
}
.service-icon_notification:hover:before {
  background-image: url("../../img/icon/service/notification/hover.svg");
}
.service-icon_qa:hover:before {
  background-image: url("../../img/icon/service/qa/hover.svg");
}
.service-icon_search:hover:before {
  background-image: url("../../img/icon/service/search/hover.svg");
}
.service-icon_settings:hover:before {
  background-image: url("../../img/icon/service/settings/hover.svg");
}
.service-icon_bookmark:active:before {
  background-image: url("../../img/icon/service/bookmark/active.svg");
}
.service-icon_delete:active:before {
  background-image: url("../../img/icon/service/delete/active.svg");
}
.service-icon_more-horizontal:active:before {
  background-image: url("../../img/icon/service/more-horizontal/active.svg");
}
.service-icon_notification:active:before {
  background-image: url("../../img/icon/service/notification/active.svg");
}
.service-icon_qa:active:before {
  background-image: url("../../img/icon/service/qa/active.svg");
}
.service-icon_search:active:before {
  background-image: url("../../img/icon/service/search/active.svg");
}
.market-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-position: 50% 50%;
}
.market-icon_disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.market-icon_boots {
  background-image: url("../../img/icon/market/boots.svg");
}
.market-icon_building {
  background-image: url("../../img/icon/market/building.svg");
}
.market-icon_calendar {
  background-image: url("../../img/icon/market/calendar.svg");
}
.market-icon_clothes {
  background-image: url("../../img/icon/market/clothes.svg");
}
.market-icon_lux {
  background-image: url("../../img/icon/market/lux.svg");
}
.market-icon_profile {
  background-image: url("../../img/icon/market/profile.svg");
}
