.content__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-height: 150vh;
  padding-top: 24px;
  margin-top: -20px;
  margin-left: -24px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.content__cell {
  padding-left: 24px;
  padding-top: 20px;
  width: 50%;
}
.content__item:not(:first-child) {
  margin-top: 12px;
}
.footer {
  border-top: 1px solid #ddd;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 20px 34px 20px 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer >div {
  line-height: 20px;
  font-size: 1vw;
}
.footer >div:first-child {
  color: #666;
}
.footer >div:last-child {
  color: #666;
}
.footer__link {
  color: #222;
  margin-left: 12px;
}
.footer__email {
  font-weight: 500;
  color: #222;
}
.footer__email:hover {
  color: #222;
}
.header {
  border-bottom: 1px solid #ddd;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 20px 34px 20px 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header >div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__link {
  line-height: 20px;
  text-decoration: none;
  color: #000;
}
.header__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 25px;
  display: block;
}
.header__icon_accent:after {
  position: absolute;
  content: "";
  top: 0;
  left: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fc6;
  border: 1px solid #000;
}
.header__icon:before {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  position: absolute;
}
.main {
  padding: 28px 34px 0px 28px;
}
.main__grid {
  margin-left: -30px;
  margin-top: -28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 28px;
}
.main__cell {
  padding-left: 30px;
  padding-top: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}
.main__cell_big {
  width: 100%;
}
.main__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main__buttons li+li {
  margin-left: 16px;
}
.side-panel {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 100vh;
  padding: 6px 16px 16px 16px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #ddd;
}
.side-panel__logo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 54px;
  width: 48px;
  background: url("../../img/logo.svg") no-repeat 50%;
  background-size: auto;
  border-bottom: 1px solid #ddd;
}
.side-panel__content {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.side-panel__content *+* {
  margin-top: 12px;
}
.side-panel__link {
  position: relative;
  width: 48px;
  height: 48px;
  display: block;
}
.side-panel__link:before {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  position: absolute;
}
.side-panel__link_accent:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-shadow: 0px 2px 12px rgba(34,34,34,0.2);
          box-shadow: 0px 2px 12px rgba(34,34,34,0.2);
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #fc6;
  width: 8px;
  height: 8px;
}
body >div {
  padding-left: 80px;
}
.category-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.category-button li {
  padding-right: 16px;
}
.category-button li a {
  display: block;
}
.info_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
}
.block {
  width: 50%;
}
.block h1 {
  margin-bottom: 24px;
}
.content {
  margin-bottom: 20px;
}
.content-left {
  width: 50%;
}
.content-left h2 {
  margin-bottom: 16px;
}
.content-right {
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.content-right h2 {
  margin-bottom: 8px;
  margin-top: 24px;
  margin-right: 24px;
}
.content-white {
  background-color: #fff;
}
.content__text {
  padding-left: 12px;
}
.content__icon {
  padding-left: 24px;
  padding-top: 24px;
}
.content__icon a {
  border-radius: 24px;
  -webkit-box-shadow: 0px 2px 12px rgba(34,34,34,0.2);
          box-shadow: 0px 2px 12px rgba(34,34,34,0.2);
}
.list__item {
  margin-bottom: 12px;
}
.list__item-button {
  margin-bottom: 24px;
}
.box__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 24px;
  max-height: 175vh;
}
@media (max-width: 1366px) {
  .box__content {
    min-height: 116vh;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .box__content {
    min-height: 96vh;
  }
}
@media (min-width: 1920px) {
  .box__content {
    min-height: 95vh;
  }
}
